.container-wrap {
    width: 100%;
    height: 100%;
    display: flex;
}
.slide-box {
    position: relative;
    flex-shrink: 0;
    width: 200px;
    height: 100%;
    background: @global-dark-bg-color;
    .slide-item_expend {
        margin: 15px 0 5px;
        height: 30px;
        position: relative;
        .icon_expend {
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 0px;
            display: inline-block;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 1px solid transparent;
            background: url('../images/icon_double_arrow.png') no-repeat center / contain;
            background-size: 10px;
            &:hover {
                background-color: rgba(43, 137, 118, 0.2);
                border: 1px solid @theme-primary;
                background-image: url('../images/icon_double_arrow_h.png');
            }
        }
    }
    .slide-item_top {
        margin-bottom: 30px;
        .slide-item {
            cursor: pointer;
            height: 16px;
            line-height: 16px;
            padding: 10px 10px 10px 45px;
            color: @font-color-gray;
            background: no-repeat 15px 5px / contain;
            background-size: 22px;
            &:hover {
                background-color: rgba(43, 137, 118, 0.2);
                color: @theme-primary;
            }
            &.all {
                background-image: url('../images/icon_notes_list.png');
            }
            &.trash {
                background-image: url('../images/icon_notes_delete.png');
            }
            &.selected {
                background-image: url('../images/icon_notes_list_h.png');
                color: @theme-primary;
            }
        }
    }
    .slide-cate-wrap {
        position: relative;
        height: ~'calc(100% - 210px)';
    }
    .cate-title {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 16px;
        line-height: 16px;
        padding: 10px 10px 10px 45px;
        color: @theme-primary;
        background: url('../images/icon_category_list.png') no-repeat 15px 6px / contain;
        background-size: 22px;
        .add {
            position: absolute;
            right: 10px;
            top: 0px;
            width: 30px;
            height: 34px;
            display: inline-block;
            cursor: pointer;
            background: url('../images/icon_category_add.png') no-repeat center / contain;
            background-size: 16px;
        }
    }
    .cate-list {
        position: absolute;
        top: 35px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: auto;
        .cate-item {
            cursor: pointer;
            height: 36px;
            color: @font-color-gray;
            display: flex;
            .cate-icon_drag {
                cursor: move;
                flex-shrink: 0;
                display: inline-block;
                width: 24px;
                height: 100%;
                background: url('../images/icon_category_drag.png') no-repeat center / contain;
                background-size: 12px;
            }
            .cate-name-box {
                flex: 1;
                background: url('../images/icon_folder_close.png') no-repeat 5px center / contain;
                background-size: 16px;
                padding-left: 28px;
                line-height: 36px;
            }
            &:hover {
                background-color: rgba(43, 137, 118, 0.2);
                color: @theme-primary;
                .cate-name-box {
                    background-image: url('../images/icon_folder_close_h.png');
                }
            }
            &.selected {
                background-color: rgba(43, 137, 118, 0.2);
                color: @theme-primary;
                &:hover {
                    background-color: rgba(43,137,118,0.5)
                }
            }
        }
    }
    .login-out-btn {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid transparent;
        background: url('../images/icon_exit.png') no-repeat center / contain;
        background-size: 12px;
        &:hover {
            background-color: rgba(43, 137, 118, 0.2);
            border: 1px solid @theme-primary;
            background-image: url('../images/icon_exit_h.png');
        }
    }
    .close-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 16px;
        height: 16px;
        background: url('../images/icon_notes_delete.png');
    }
}
.category-modal {
    padding: 0px;
}
.content-box {
    width: 100%;
    height: 100%;
    background: #fff;
}