.container-wrap {
    width: 100%;
    height: 100%;
    display: flex;
}
.slide-box {
    position: relative;
    flex-shrink: 0;
    width: 200px;
    height: 100%;
    background: @global-dark-bg-color;
    .slide-item_top {
        margin: 60px 0 30px 0;
        .slide-item {
            cursor: pointer;
            line-height: 16px;
            padding: 10px 10px 10px 25px;
            color: @font-color-gray;
            &:hover {
                background-color: rgba(43, 137, 118, 0.2);
                color: @theme-primary;
            }
            .slide-item-icon {
                font-size: 16px;
                margin-right: 6px;
            }
            &.selected {
                color: @theme-primary;
            }
        }
    }
    .slide-cate-wrap {
        position: relative;
        height: ~'calc(100% - 210px)';
    }
    .cate-title {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        line-height: 16px;
        padding: 10px 10px 10px 25px;
        color: @theme-primary;
        .cate-icon--bar {
            font-size: 16px;
            margin-right: 10px;
        }
        .add {
            position: absolute;
            right: 10px;
            top: 0px;
            width: 30px;
            height: 34px;
            display: inline-block;
            cursor: pointer;
            background: url('../images/icon_category_add.png') no-repeat center / contain;
            background-size: 16px;
        }
    }
    .cate-list {
        position: absolute;
        top: 35px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: auto;
        .cate-item {
            cursor: pointer;
            height: 36px;
            color: @font-color-gray;
            display: flex;
            .cate-icon_drag {
                cursor: move;
                flex-shrink: 0;
                display: inline-block;
                width: 25px;
                height: 100%;
                background: url('../images/icon_category_drag.png') no-repeat center / contain;
                background-size: 12px;
            }
            .cate-folder-close, .cate-folder-open {
                margin-right: 10px;
            }
            .cate-name-box {
                flex: 1;
                background-size: 16px;
                line-height: 36px;
            }
            &:hover {
                background-color: rgba(43, 137, 118, 0.2);
                color: @theme-primary;
            }
            &.selected {
                background-color: rgba(43, 137, 118, 0.2);
                color: @theme-primary;
                &:hover {
                    background-color: rgba(43,137,118,0.5)
                }
            }
        }
    }
    .login-out-btn {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid transparent;
        background: url('../images/icon_exit.png') no-repeat center / contain;
        background-size: 12px;
        &:hover {
            background-color: rgba(43, 137, 118, 0.2);
            border: 1px solid @theme-primary;
            background-image: url('../images/icon_exit_h.png');
        }
    }
}
.category-modal {
    padding: 0px;
}
.content-box {
    width: 100%;
    height: 100%;
    background: #fff;
}